include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include keplergl_quickvis/keplergl_config.json

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
